{% from '_macros/lib.twig' import img %}

{% set author = entry.author %}

<div class="max-w-screen-{{ theme.pageWidth }} mx-auto px-block mb-block">

    <div class="border-b-2 pb-4 border-border">
        {% set image = author.photo %}

        <div class="mt-4 flex space-x-4">
            {% if image %}
                <div>
                    {{ img(image, {width: 120, height: 120}, {}, false) }}
                </div>
            {% endif %}
            <div class="space-y-1">
                <div class="text-2xl font-semibold">
                    {{ author.fullName }}
                </div>
                {% if author.teaser %}
                    <div class="text-base">
                        {{ author.teaser }}
                    </div>
                {% endif %}
                {% if author.email  %}
                    <div class="text-base">
                        <a href="mailto:{{ author.email }}">{{ author.email }}</a>
                    </div>
                {% endif %}
                <div class="text-base">
                    {{ 'Published'|t }}: {{ entry.postDate|date('short') }}
                </div>
            </div>
        </div>
    </div>


</div>
