{# Require that a user is logged in to view this form. #}
{% requireLogin %}


{# If there were any validation errors, a `user` variable will be passed to the
   template, which contains the posted values and validation errors. If that’s not
   set, we’ll default to the current user. #}
{% set user = user ?? currentUser %}

{% embed '_members/includes/form.twig' with {action: 'users/save-user', uploads: true} %}
    {% block content %}
        {% import '_members/macros/forms.twig' as forms %}

        {% include '_members/include/flash.twig' with {
            successMessage: 'Profile successfully saved'|t,
            errorMessage: 'Profile could not be saved'|t
        } %}

        {% if user.unverifiedEmail and user.unverifiedEmail != user.email and not user.hasErrors() %}
            {% include '_members/includes/message.twig' with {
                type: 'info',
                message: 'A new email address needs to be verified.'|t
            } only %}
        {% endif %}

        {{ hiddenInput('userId', user.id) }}

        {{ forms.textField({
            user: user,
            label: 'First Name'|t,
            name: 'firstName',
            required: true
        }) }}

        {{ forms.textField({
            user: user,
            label: 'Last Name'|t,
            name: 'lastName',
            required: true
        }) }}

        <div class="flex space-x-4">

            {% if user.photo %}
                <div class="shrink-0">
                    <label class="block text-base font-semibold text-gray-700 mb-4">{{ 'Photo'|t }}</label>
                    <div class="mb-4">
                        {{ user.photo.getImg({width: 100, height: 100})|attr({
                            id: 'user-photo',
                            alt: user.friendlyName,
                            class: 'rounded-full'
                        }) }}
                    </div>

                    {{ forms.checkbox({
                        label: 'Delete photo'|t,
                        name: 'deletePhoto',
                        value: 1
                    }) }}

                </div>
            {% endif %}

            {{ forms.fileField({
                user: user,
                label: 'Upload a new photo'|t,
                name: 'photo',
                accept: 'image/*'
            }) }}
        </div>


        {% if not craft.app.config.general.useEmailAsUsername %}
            {{ forms.textField({
                user: user,
                label: 'Username'|t,
                name: 'username',
                required: true
            }) }}
        {% endif %}


        {{ forms.textField({
            user: user,
            label: 'Email'|t,
            name: 'email',
            type: 'email',
            value: user.unverifiedEmail ?? user.email,
            required: true,
            instructions: craft.app.projectConfig.get('users.requireEmailVerification') ?  'New email addresses need to be verified.'|t
        }) }}

        {{ forms.textField({
            user: user,
            label: 'New Password'|t,
            name: 'newPassword',
            type: 'password'
        }) }}

        {{ forms.textField({
            user: user,
            label: 'Current Password'|t,
            name: 'currentPassword',
            type: 'password',
            instructions: 'Required if email is changed or new password is set'|t
        }) }}

        <div class="mt-block">
            {{ forms.button('Save Profile'|t) }}
        </div>

    {% endblock %}
{% endembed %}
