{# Require that a user is logged in to view this form. #}
{% requireLogin %}


{# If there were any validation errors, a `user` variable will be passed to the
   template, which contains the posted values and validation errors. If that’s not
   set, we’ll default to the current user. #}
{% set user = user ?? currentUser %}

{% import '_members/macros/forms.twig' as forms %}


<div class="mt-8 sm:w-full sm:max-w-md">

    {% set notice = craft.app.session.flash('notice') %}
    {% if notice %}
        <div class="mb-4  px-4 py-2 bg-emerald-100 text-base text-emerald-800">{{ 'Profile successfully saved'|t }}</div>
    {% endif %}

    {% set error = craft.app.session.flash('error') %}
    {% if error %}
        <div class="mb-4  px-4 py-2 bg-red-100 text-base text-red-800">{{ 'Profile could not be saved'|t }}</div>
    {% endif %}


    {% if user.unverifiedEmail and user.unverifiedEmail != user.email and not user.hasErrors() %}
        <div class="mb-4 px-4 py-2 bg-sky-100 text-sky-800">{{ 'A new email address needs to be verified.'|t }}</div>
    {% endif %}

    <form class="space-y-4" method="post" accept-charset="UTF-8" enctype="multipart/form-data">
        {{ csrfInput() }}
        {{ actionInput('users/save-user') }}
        {{ hiddenInput('userId', user.id) }}

        <div>
            <label for="first-name" class="block text-base font-medium text-gray-700">{{ 'First Name'|t }}</label>
            <div>
                {{ input('text', 'firstName', user.firstName, {
                    id: 'first-name',
                    class: 'w-full',
                    autocomplete: 'given-name',
                }) }}
                {{ forms.errorsList(user.getErrors('firstName')) }}
            </div>
        </div>

        <div>
            <label for="last-name" class="block text-base font-medium text-gray-700">{{ 'Last Name'|t }}</label>
            <div>
                {{ input('text', 'lastName', user.lastName, {
                    id: 'last-name',
                    class: 'w-full',
                    autocomplete: 'family-name',
                }) }}
                {{ forms.errorsList(user.getErrors('lastName')) }}
            </div>
        </div>

        <div class="flex space-x-4">

            {% if user.photo %}
                <div class="shrink-0">
                    <label class="block text-base font-medium text-gray-700">{{ 'Photo'|t }}</label>
                    <div>
                        {{ user.photo.getImg({width: 120, height: 120})|attr({
                            id: 'user-photo',
                            alt: user.friendlyName,
                        }) }}
                    </div>

                    <label for="delete-photo" class="mt-1 block text-base font-medium text-gray-700">
                        {{ input('checkbox', 'deletePhoto', '1', {
                            id: 'delete-photo',
                        }) }}
                        {{ 'Delete photo'|t }}
                    </label>
                </div>
            {% endif %}

            <div>
                <label for="photo" class="block text-base font-medium text-gray-700">{{ 'Upload a new photo'|t }}</label>
                <div class="mt-4">
                    {{ input('file', 'photo', null, {
                        id: 'photo',
                        class: 'block w-full text-base text-gray-800
                                  file:mr-2 file:py-2 file:px-4
                                  file:rounded file:border-0
                                  file:text-base
                                  file:bg-primary file:text-white
                                  file:cursor-pointer
                                  hover:file:bg-black file:transition',
                        accept: 'image/png,image/jpeg',
                    }) }}
                </div>
            </div>
        </div>

        <div>
            {% if not craft.app.config.general.useEmailAsUsername %}
            <div>
                <label for="username" class="block text-base font-medium text-gray-700">{{ 'Username'|t }}</label>
                {{ input('text', 'username', user.username, {
                    id: 'username',
                    class: 'w-full',
                    autocomplete: 'username',
                }) }}
                {{ forms.errorsList(user.getErrors('username')) }}
                {% endif %}
            </div>
        </div>

        <div>
            <label for="email" class="block text-base font-medium text-gray-700">{{ 'Email'|t }}</label>
            <div>

                {{ input('text', 'email', user.unverifiedEmail ?? user.email, {
                    id: 'email',
                    class: 'w-full',
                    autocomplete: 'email',
                }) }}
                {% if craft.app.projectConfig.get('users.requireEmailVerification') %}
                    <div class="my-1 text-sm text-gray-700">{{ 'New email addresses need to be verified.'|t }}</div>
                {% endif %}
                {{ forms.errorsList(user.getErrors('email')) }}
            </div>
        </div>


        <div>
            <label for="new-password" class="block text-base font-medium text-gray-700">{{ 'New Password'|t }}</label>
            <div>
                {{ input('password', 'newPassword', null, {
                    id: 'new-password',
                    class: 'w-full',
                    autocomplete: 'new-password',
                }) }}
                {{ forms.errorsList(user.getErrors('newPassword')) }}
            </div>
        </div>

        <div>
            <label for="current-password"
                   class="block text-base font-medium text-gray-700">{{ 'Current Password'|t }}</label>
            <div>

                {{ input('password', 'password', null, {
                    id: 'current-password',
                    class: 'w-full',
                    autocomplete: 'current-password',
                }) }}
                <div class="my-1 text-sm text-gray-600">
                    {{ 'Required if email is changed or new password is set'|t }}
                </div>
                {{ forms.errorsList(user.getErrors('currentPassword')) }}
            </div>
        </div>

        <div class="mt-block">
            {{ forms.button('Save Profile'|t) }}
        </div>

    </form>
</div>
