{% switch theme.titleStyle %}

{% case "coverBoxed" %}

    {% include '_layouts/partials/titlearea_coverboxed.twig' %}

{% case "coverFull" %}
    <header class="mb-20">
        {{ titleImageHtml|raw }}
    </header>

{% case "coverContent" %}
    <header class="container max-w-screen-{{ theme.headerWidth }} mx-auto mb-12 px-8">
        {{ titleImageHtml|raw }}
    </header>

{% case "text" %}
    <header class="container max-w-screen-{{ theme.headerWidth }} mx-auto mt-8 mb-12 px-8">
        {{ titleHtml|raw }}
    </header>

{% case "fullText" %}
    <header>
        <div>
            {{ titleImageHtml|raw }}
        </div>
        <div class="container max-w-screen-{{ theme.pageWidth }} mx-auto mt-4 mb-12 px-8">
            {{ titleHtml|raw }}
        </div>
    </header>


{% case "fullTextColor" %}
    <header>
        <div>
            {{ titleImageHtml|raw }}
        </div>
        <div class="bg-title-bg text-title-text  mb-12">
            <div class="container max-w-screen-{{ theme.pageWidth }} mx-auto pt-2 pb-4 px-8">
                {{ titleHtml|raw }}
            </div>
        </div>
    </header>

{% case "imageText" %}
    <header class="mb-12">
        <div class="container max-w-screen-{{ theme.headerWidth }} mx-auto  px-8">
            {{ titleImageHtml|raw }}
        </div>
        <div class="container max-w-screen-{{ theme.pageWidth }} mx-auto mt-8 px-8">
            {{ titleHtml|raw }}
        </div>
    </header>

{% case "textImage" %}
    <header class="container max-w-screen-{{ theme.headerWidth }} mx-auto mb-12 px-8">
        <div>
            {{ titleHtml|raw }}
        </div>
        <div class="mt-8">
            {{ titleImageHtml|raw }}
        </div>
    </header>

{% endswitch %}
