<div id="{{ htmlId }}">
    {% include 'genericfields/reverse-relation-entries-list.twig' with {element, field: field.handle, orderBy: 'orderBy', titleTemplate} only %}
</div>

{# <a class="btn submit add icon"
   style="margin-top:48px"
   href="{{ cpUrl('entries/session/new', {site: element.site.handle, event: [element.id]}) }}"
   role="button"
   target="_blank">New session</a> #}

<button class="btn dashed add icon"
        style="margin-top:24px"
        type="button"
        onclick="createRelatedEntry({{ element.siteId }}, {{ section.id }}, {{ type.id }}, '{{ field.handle }}', {{ element.canonicalId }}, {{ currentUser.id }})">
    {{ caption|t }}
</button>

{% js %}
function createRelatedEntry(siteId, sectionId, typeId, field, entryId, authorId) {
    Craft.createElementEditor('craft\\elements\\Entry', {
        siteId: siteId,
        attributes: {
            sectionId: sectionId,
            typeId: typeId,
            authorId: authorId,
            enabled: 1,
            [field]: [entryId]
        },
        onHideHud: () => {
            refreshRelatedEntriesList()
        },
    })
}

function removeEntry(sourceId, targetId, siteId, field) {
    if (!confirm('Remove relationship?')) {
        return
    }

    element = {
        sourceId: sourceId,
        targetId: targetId,
        siteId: siteId,
        field: field
    }

    Craft.sendActionRequest('POST', 'genericfields/elements/remove-relationship', {
        data: element,
    }).then(ev => {
        console.log(ev)
        if (ev.data.success) {
            Craft.cp.displayNotice('Relationship removed');
            refreshRelatedEntriesList(targetId, siteId, field)
        }

    });

}

function _refreshRelatedEntriesList(elementId, siteId, field, orderBy, titleTemplate, htmlId) {
    Craft.sendActionRequest('POST', 'genericfields/elements/get-related-entries-list-html', {
        data: {
            elementId: elementId,
            siteId: siteId,
            field: field,
            orderBy: orderBy,
            titleTemplate: titleTemplate
        },
    }).then(ev => {
        console.log(ev)
        document.getElementById('fields-' + htmlId).innerHTML = ev.data
    });
}

{% endjs %}

{% js %}
function refreshRelatedEntriesList() {
    _refreshRelatedEntriesList({{ element.id }}, {{ element.siteId }}, '{{ field.handle }}', '{{ orderBy }}', '{{ titleTemplate }}', '{{ htmlId }}')
}
{% endjs %}
