{% import '_members/macros/forms.twig' as forms %}
<div class="mt-8 sm:w-full sm:max-w-md">
    <div class="">
        <form sprig s-method="post" s-action="users/set-password" s-indicator="#spinner" class="space-y-6">
            {{ csrfInput() }}
            {{ hiddenInput('code', code) }}
            {{ hiddenInput('id', id) }}
            <div>
                <label for="newPassword" class="block text-sm font-medium text-gray-700">
                    {{ 'Your New Password'|t }}
                </label>
                <div class="mt-1">
                    <input class="w-full" id="newPassword" name="newPassword" type="password"
                           required value="">
                </div>
            </div>
            <div>
                {{ forms.button('Submit New Password'|t, true) }}

                {% if errors is defined %}
                    <div class="rounded-lg bg-red-50 p-4 mt-4 border-2 border-red-100">
                        <div class="flex">
                            <div class="ml-3">
                                {{ forms.errorsList(errors) }}
                            </div>
                        </div>
                    </div>

                {% endif %}

                {% if success is defined and success %}
                    <div class="rounded-lg bg-green-50 p-4 mt-4 border-2 border-green-100">
                        <div class="flex">
                            <div class="ml-3">
                                <p class="text-sm font-medium text-green-800">
                                    {{ 'Your password was reset and you are logged in!'|t }}
                                    <a class="underline" href="{{ siteUrl }}">
                                        {{ 'Access the site with your account'|t }}</a>
                                </p>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </form>
    </div>
</div>
