{% set section = craft.app.sections.sectionByHandle(section) %}
{% set types = section.getEntryTypes() %}
{% if type %}
    {% set type = types|filter(t => t.handle == type)[0] %}
{% else %}
    {% set type = types[0] %}
{% endif %}


{% set entries = craft.entries
    .siteId(element.siteId)
    .relatedTo({targetElement: element, field: field})
    .orderBy(orderBy)
.all %}


{% for entry in entries %}
    <div style="margin-bottom: 12px">
        <a class="go" href="{{ entry.cpEditUrl }}" target="_blank">{{ entry.title }}</a>
    </div>
{% endfor %}

{# <a class="btn submit add icon"
   style="margin-top:48px"
   href="{{ cpUrl('entries/session/new', {site: element.site.handle, event: [element.id]}) }}"
   role="button"
   target="_blank">New session</a> #}

<button class="btn dashed add icon"
        style="margin-top:24px"
        type="button"
        onclick="createRelatedEntry({{ element.siteId }}, {{ section.id }}, {{ type.id }}, {{ element.canonicalId }}, {{ currentUser.id }})">
    {{ caption|t }}
</button>

{# Use separate js block to avoid messing up code formatting by PhpStorm #}
{% js %}
field = '{{ field }}'
{% endjs %}

{% js %}
function createRelatedEntry(siteId, sectionId, typeId, eventId, authorId) {
    Craft.createElementEditor('craft\\elements\\Entry', {
        siteId: siteId,
        attributes: {
            sectionId: sectionId,
            typeId: typeId,
            authorId: authorId,
            enabled: 1,
            [field]: [eventId]
        },
        onHideHud: () => {
            location.reload()
        },
    })
}
{% endjs %}
